body {
    background-color: rgb(34, 218, 218);
    font: normal 15pt Arial;
    padding-top: 150px;
}

span {
    font-size: 10pt;
    font-style: italic;
}

input#aluguel {
    width: 120px;
}

input#meses {
    width: 100px;
}

p {
    text-align: justify;
}

section {
   border-radius: 10px;
   background: white;
   padding: 15px;
   width: 380px;
   height: 220px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}